
body {
   
    background-color: #212121;
    padding: 10px;
    margin: 0;
    font-family: 'Roboto Slab', serif;
  }
  h1, h2, p, ul, li {
    color: aliceblue;
  }
  div.header-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
 

  /*style of static items to left in header*/
  div.header-static {
    display: flex;
    width: 15%;
    align-items:center;
    justify-content:space-between ;
  }
  div.header-static li {
    display: flex;
    list-style-type: none;
    background-color:#212121 ;
  }
  div.header-static img.logo {
    max-width: 56px;
    height: 56px;
    border-width:0;
  }
  div.header-static p{
    color: aliceblue;
  }

  /*style of nav items in header*/
  ul.header-nav {
    background-color: #212121;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  ul.header-nav li {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }
  ul.header-nav li a {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
  }
 
  .about{
    display: inline-block;
    justify-content: baseline;
    max-height: 80%;
  }
  .content {
    width: 50%;
    height: 100%;
  
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 16px;
      
    margin: auto;
    background-color: #212121;
  }
  a{
    color: aqua;
  }
  
  .content h2 {
    padding: 0;
    color:aliceblue;
    margin: 0;
  }
  .content li {
    color: aliceblue;
  }

 div.portfolio-pic{
    display: flex;
    justify-content: center;
 }
 
 img.mypic {
   max-width: 30%;
   border-radius: 50%;
   border: 2.5px solid aquamarine;
 }

 ul.footer li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin-top: 4px;
  padding: 16px;
  background-color:#212121 ;
}

h2{
color: aqua;
display:flex;
justify-content: center;
align-content: center;
}

h4{
  color:aqua;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: normal;
}

form.namefield{
  border-color: aquamarine;
}

.contact-form-division {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/*For the typing cursor*/
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}